---
title: 'RightingCode.org'
layout: default
---

<div class='row'>
  <div class='col-md-12'>
    <p>
    This calendar is representative of a typical 16-week semester offering of this course. It is intended to be a general guide to the 
    ordering and pacing of the course - there are no dates as those are specific to a particular offering. If you are a current student,
    please refer to your course syllabus and course calendar for all important dates.
    </p>
    <table border="1">
      <tr>
        <th><b>Week</b></th>
        <th><b>Tasks</b></th>
        <th><b>Deliverables</b></th>
      </tr>
      {% for week in site.data.calendar %}
      <tr>
        <td>{{week.id}}</td>
        <td><ul>
        {% for tasks in week.tasks %}
            <li>{{tasks.item}}</li>
        {% endfor %}
        </ul></td>
        <td><ul>
        {% for deliverables in week.deliverables %}
            <li>{{deliverables.item}}</li>
        {% endfor %}
        </ul></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
