---
title: 'Supplementary Reading'
layout: default
---

<div class='row'>
  <div class='col-md-12'>
    <p>
    The below material consists of technical as well as popular-press articles to supplements the <a href="lessons.html">lessons</a>.
    </p>

    <ul>
      {% for lesson in site.data.reading %}
        <li>
          <h5>{{lesson.lesson}}</h5>
          <h6>Part 1: Technical Papers</h6>
          <ol>
            {% for item in lesson.papers %}
              <li>
                <a href="{{item.link}}">{{item.title}}</a>{% if item.talk %} &#91;<a href="{{item.talk}}">talk</a>&#93;{% endif %}{% if item.slides %} &#91;<a href="{{item.slides}}">slides</a>&#93;{% endif %}{% if item.author %} by {{item.author}}{% endif %}{% if item.year %}, {{item.year}}{% endif %}.<br />
                <em>{{item.description}}</em>
              </li>
            {% endfor %}
          </ol>
          <h6>Part 2: Casual Reading</h6>
          <ol>
            {% for item in lesson.casual %}
              <li>
                <a href="{{item.link}}">{{item.title}}</a>{% if item.talk %} &#91;<a href="{{item.talk}}">talk</a>&#93;{% endif %}{% if item.slides %} &#91;<a href="{{item.slides}}">slides</a>&#93;{% endif %}{% if item.author %} by {{item.author}}{% endif %}{% if item.year %}, {{item.year}}{% endif %}.<br />
                <em>{{item.description}}</em>
              </li>
            {% endfor %}
          </ol>
          <h6>Part 3: Tools and Frameworks</h6>
          <ol>
            {% for item in lesson.tools %}
              <li>
                <a href="{{item.link}}">{{item.title}}</a>{% if item.talk %} &#91;<a href="{{item.talk}}">talk</a>&#93;{% endif %}{% if item.slides %} &#91;<a href="{{item.slides}}">slides</a>&#93;{% endif %}{% if item.author %} by {{item.author}}{% endif %}{% if item.year %}, {{item.year}}{% endif %}.<br />
                <em>{{item.description}}</em>
              </li>
            {% endfor %}
          </ol>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
